<footer class="text-center text-white mt-5" style="background-color: #F1F1F1;" id="contact">
    <div class="container p-4 pb-0" >
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
  
        <!-- Twitter -->
        <a class="btn  btn-floating m-1" href="#!" role="button" ><i class="fab fa-twitter"></i></a>
  
        <!-- Google -->
        <a class="btn  btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
  
        <!-- Instagram -->
        <a class="btn  btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
  
        <!-- Linkedin -->
        <a class="btn  btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
  
        <!-- Github -->
        <a class="btn btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
      </section>
    </div>
      
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #00B0FF;">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">TableCreator</a>
    </div>
</footer>


<!-- JQuery files-->
<script src="js/jquery.3.4.1.js"></script>

<!--Bootstrap JS file-->
<script src="js/bootstrap.min.js"></script>

<!-- jQuery Aos Min Js -->
<script src="/vendor/aos/aos.min.js"></script>
<script>
    AOS.init({
    duration: 1500,
  });
  </script>

<!--custom js file-->
<script src="js/script.js"></script>