<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
</head>
<body>
    <%- include('./partials/gotop.ejs') %>


    <div class="container d-flex flex-column align-items-center px-0 justify-content-center"  data-aos="fade-down" id="error-div">
        <img src="/img/undraw_page_not_found_re_e9o6 (1).svg" alt="">
        <p>Page not found</p>
    </div>

    <!----------------------------footer------------------------------------>
    <%-include('./partials/footer.ejs') %>

</body>
</html>